<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index</title>

    <!-- Bootstrap CSSのリンクを追加 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app" class="container mt-5">
    <h1 class="display-4">Home</h1>
</div>
<div class="container">
    <a href="/product/list" class="btn btn-primary mt-3">Product List</a>
</div>
<div class="container">
    <a href="/product/register" class="btn btn-primary mt-3">Register</a>
</div>
</body>
</html>
