<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index</title>

    <!-- Bootstrap CSSのリンクを追加 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app" class="container mt-5">
    <h1 class="display-4">index</h1>
    <p class="lead" th:text="${message}">Hello World!</p>
    <p th:text="${num}">q</p>
</div>
<div class="container">
    <a href="/product" class="btn btn-primary mt-3">Product</a>
</div>
</body>
</html>
